catboost==1.2.5
colorama==0.4.6
cotyledon==1.7.3
debugpy==1.8.5
gnocchiclient==7.0.8
oslo.config==9.5.0
oslo.log==6.1.1
oslo.messaging==14.8.1
pandas==2.2.2
pbr==6.0.0
joblib==1.4.2
scikit-learn==1.5.1