[[local|localrc]]
ADMIN_PASSWORD=secret
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
HOST_IP=89.169.168.186
CEILOMETER_BACKEND=gnocchi

#RECLONE=yes
disable_service etcd3
enable_plugin ceilometer https://opendev.org/openstack/ceilometer stable/2023.2
enable_plugin phoenix https://github.com/misterzorgy2000/phoenix.git main
enable_plugin watcher https://opendev.org/openstack/watcher stable/2023.2
